.explore-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.explore-menu h2 {
  color: #262626;
  font-weight: 500;
}
.explore-menu-text{
  max-width:60%;
  columns:#808080;
}
.explore-menu-list{
  display:flex;
  justify-content: space_between;
  align-items:center;
  gap:30px;
  text-align: center;
  margin: 20px 0;
  overflow-x:scroll;
}
.explore-menu-list::-webkit-scrollbar {
  display: none;
}
.explore-menu-list-items img{
  cursor: pointer;
  width:7.5vw;
  height: 115.2px;
  min-width: 80px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.explore-menu-list-items p{
  margin-top: 10px;
  color: #747474;
  font-size: max(1.4vw, 16px);
  cursor: pointer;
}
.explore-menu hr{
  margin: 10px 0;
  height: 2px;
  background-color: #e2e2e2;
  border:none;
}
.explore-menu-list-items .active{
  border:4px solid tomato;
  padding:2px;
}
@media (max-width:1050px){
  .explore-menu-text{
    max-width:100%;
    font-size: 14px;
  }
}